.post-image{

    display:inline-block
    }

.video_area{
    padding:40px;
    margin-top:40px;
    background-color:black;
    color:white;
    }

.news-area{
    margin-top:50px;
    border: black;
    magin-right: 50px;
    margin-left: 50px;
}

.border{
    margin-top:60px;
    border-bottom:20px solid gray;
}

