body{
    font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

}
.navbar{
    height:120px;

    }
.icon{
    height:100px;
    padding: 0px 20px;
}

.icons{
    margin-right: 100px;
    float: right;
}

.navbar-brand{
    margin-left: 10px;
    }
.main {
    padding-right: 50px;
    padding-left: 50px;
}
.footer{
    position:absolute;
    width:100%;text-align:center;
    display: block;

}

.copyright{
    color: #777777;
}

